@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: rgb(20, 57, 107);
}

.title{
    margin-left: 1rem;
}
.title h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    color: rgb(182, 166, 145);
    
}
.appbar{
    display: flex;
    justify-content: space-between;
    
}
.menu{
    position: relative;
}

.menu ul{
    border-radius: 10px;
    background-color: rgb(32, 32, 122);
}


.menu ul li{
   
    list-style: none;
    margin:3rem
}
header{
    height: 100vh;
}