*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.app_bar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    
    
}
.container_main{
    display: flex;
    justify-content: center;
   align-items: center;
    height: 35rem;
    width: 35rem;
    border-radius: 50%;
    background-color: aqua;
}


.container{
    position: relative;
    border-radius: 50%;
    width: 70%;
    height: auto;
    padding-top: 70%;
    background: rgb(54, 25, 25);
}
h1 span {
font-size: 26px ;
transform-origin: bottom;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
height: 300px;
width: 50px;
left: 50;
top: 50;
position: absolute;
}
.c1 {
    transform: rotate(6deg);
    color: violet;
    }
    .c2 {
    transform: rotate(12deg);
    color: indigo;
    }
    .c3 {
    transform: rotate(18deg);
    color: blue;
    }